#register_page {
    @media only screen and (max-width: 768px) {
        .inputRegister {
            margin-top: 100px!important;
            position: absolute !important;
            background-color: aliceblue;
        }
    }
}